@charset "UTF-8";
.detailWrap{min-height: 100%;padding-bottom: 20px;background-color: #f5f8fa;box-sizing: border-box;position: relative;}
.wrap{width: 960px;background-color: #fff;box-shadow: 5px 5px 20px #888;min-height: calc(100% - 106px);position: absolute;top: 86px;left: 50%;margin-left: -480px;}
.article{padding: 30px 100px;}
.article h1{font-size: 38px;font-weight: 600;color: #29324a;text-align: center;}
.articleComt{line-height: 25px;}
