@charset "UTF-8";
.detailWrap{min-height: calc(100% - 20px);padding-bottom: 20px;background-color: #f5f8fa;}
.wrap{width: 960px;background-color: #fff;margin: 0 auto;box-shadow: 5px 5px 20px #888;min-height: calc(100% - 86px);}
.article{padding: 30px 100px;}
.article h1{font-size: 38px;font-weight: 600;color: #29324a;text-align: center;}
.articleComt{line-height: 25px;}
