@charset "UTF-8";
html,body{height: 100%;}

.loginWrap{height: 100%;width: 100%;background-color: #29324a;}
.loginComt{width: 560px;background-color: #fff;position: fixed;top: 0;bottom: 0;right: 0;left: 0;margin: auto;height: 410px;border-radius: 5px;text-align: center;color: #29324a;}
.title{height: 64px;line-height: 64px;border-bottom: 1px solid #e3ebef;font-size: 18px;margin: 0;}
.keyWrap{text-align: left;margin-bottom: 10px;}
.itemWrap{padding: 30px 135px;}

.refreshWrap{position: fixed;top: 0;right: 0;bottom: 0;left: 0;}
.refreshPos{position: absolute;top: 50%;left: 50%;margin-top: -40px;margin-left: -40px;z-index: 100;}
.refreshBg{width: 100%;height: 100%;background-color: #fff;opacity: 0.45;z-index: 99;}
.hidden{display: none;}
